@import './src/styles/sass/mixin';
@import './src/styles/sass/variables';

.loginFormContainer {
  @include flex(column, center, center, wrap);
  width: 50%;
  height: 100%;
  @media screen and (max-width: $mediaWidth) {
    width: 100%;
    height: 100%;
  }

  .loginFormBlock {
    width: 60%;

    .input {
      margin: 5px 0;
    }
  }
}